# Ignore Python temporary files
__pycache__/
*.pyc

# Ignore environment variables and passwords
.env

# Ignore virtual environments
venv/
env/

# Ignore database connection files (local only)
database_config.json
